<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | MCS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <style>
        .messages {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;

        }

        .alertMessage {
            background-color: #f44336;
            color: white;
            font-size: 20px;
        }

        .close {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .close:hover {
            color: black;
        }
    </style>
</head>

<body>








    {% if messages %}
    <div class="alertMessage">
        <div class="messages">
            {% for message in messages %}
            <span class="close" onclick="this.parentElement.style.display='none';">×</span>
            <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</strong>
            {% endfor %}
        </div>
    </div>

    {% endif %}





    <nav>
        <div class="container">
            <div class="nav-links">
                <a href="/" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </a>
                <div class="links">
                    <a href="/" class="active">Home</a>
                    <a href="/">Pricing</a>
                    <a href="/">Contact Us</a>
                    {% if user.is_superuser %}
                    <a id="downloadPdf">Download PDF</a>
                    <a href="{% url 'clean-data' %}">Clear Data</a>
                    <a href="{% url 'admin:index' %}">Admin</a>

                    {% endif%}
                    <a href="{% url 'logout' %}">Log Out</a>

                </div>
            </div>
        </div>
    </nav>


    <section class="header">
        <div class="container">
            <h1>Insights and Trends in Iron Ore Trading</h1>
        </div>

    </section>
    <section class="market-value">
        <div class="container">
            <h2>Market Overview</h2>
            <div class="row2-col2 g100">
                <div>
                    <ul>Forward Physical Values</ul>
                    <table>
                        <thead>
                            <tr>
                                <th>PROD</th>
                                <th>Mar</th>
                                <th>Apr</th>
                                <th>May</th>
                                <th>Q3</th>
                            </tr>
                        </thead>
                        <tbody class="col-1-fill">
                            {% for item in forward_physical_values %}
                            <tr>
                                <td>{{item.prod}}</td>
                                <td>{{item.mar}}</td>
                                <td>{{item.apr}}</td>
                                <td>{{item.may}}</td>
                                <td>{{item.q3}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tr>
                    </table>

                    {% if forward_physical_text_card %}
                    <div class="blue-card">
                        {% for item in forward_physical_text_card %}
                        <p>
                            {{item.text}}
                            <br>
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    <ul>Seaborne Last Traded levels</ul>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Primary</th>
                                <th>Secondary</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in seaborne_last_traded_levels %}
                            <tr>
                                <td>{{item.product}}</td>
                                <td>{{item.primary}}</td>
                                <td>{{item.secondary}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </section>

    <section class="physical-onshore">
        <div class="container">
            <h2>Front Month Physical vs Spot Onshore Values</h2>
            <table>
                <thead>
                    <tr>
                        <th>Prem/Disc</th>
                        <th>Product</th>
                        <th>Phys in RMB</th>
                        <th>RZ Value</th>
                        <th>Diff</th>
                        <th>Diff USD</th>
                        <th>CFD Value</th>
                        <th>Diff</th>
                        <th>Diff USD</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in prem_or_disc_table %}
                    <tr>
                        <td>{{item.prem_disc}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.phys_in_rmb}}</td>
                        <td>{{item.rz_value}}</td>
                        <td>{{item.diff1}}</td>
                        <td>{{item.diff1_usd}}</td>
                        <td>{{item.cfd_value}}</td>
                        <td>{{item.diff2}}</td>
                        <td>{{item.diff2_usd}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row2-col2 g50 ">
                <div>
                    <table class="no-bg">
                        <thead>
                            <tr>
                                <th>Proxy Blend</th>
                                <th>IOCJ+SSF vs PBF</th>
                                <th>RZ</th>
                                <th>CFD</th>
                                <th>JYN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in proxy_blend_table %}
                            <tr>
                                <td>{{item.proxy_blend}}</td>
                                <td>{{item.iocj_ssf_vs_pbf}}</td>
                                <td>{{item.rz}}</td>
                                <td>{{item.cfd}}</td>
                                <td>{{item.jyn}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Other Product Values</th>
                                <th>Period: Mar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in other_product_values_table %}
                            <tr>
                                <td>{{item.other_product_values}}</td>
                                <td>{{item.period_mar}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>Primary vs Secondary Differential</th>
                                <th>Apr</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in primaryvs_secondary_differential_table %}
                            <tr>
                                <td>{{item.primary_vs_secondary_differential}}</td>
                                <td>{{item.apr}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="onshore-values">
        <div class="container">
            <br>
            <br>
            <h2>Onshore values to USD</h2>
            <br>
            <div class="row2-col2  _60per">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Rizhao RMB</th>
                                <th>USD Equiv</th>
                                <th>Caofeidien</th>
                                <th>USD Equiv</th>
                                <th>Jiangyin</th>
                                <th>USD Equiv</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in onshore_values %}
                            <tr>
                                <td>{{item.column1}}</td>
                                <td>{{item.Rizhao_rmb}}</td>
                                <td>{{item.usd_equiv1}}</td>
                                <td>{{item.caofeidien}}</td>
                                <td>{{item.usd_equiv2}}</td>
                                <td>{{item.jiangyin}}</td>
                                <td>{{item.usd_equiv3}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th> Mysteel 62% Index</th>
                                <th>(Previous day)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in mysteel_table %}
                            <tr>
                                <td>{{item.mysteel_index}}</td>
                                <td>{{item.previous_day}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th>Futures Price | 11.30am</th>
                                <th>(Singapore time)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in futures_table %}
                            <tr>
                                <td>{{item.futures_price}}</td>
                                <td>{{item.time}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            {% for item in futures_sub_table %}
                            <tr>
                                <td>{{item.exch_rate}}</td>
                                <td>{{item.value}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th>Secondary Offer Depth</th>
                                <th>(mt)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in secondary_offer %}
                            <tr>
                                <td>{{item.secondary_offer}}</td>
                                <td>{{item.depth_mt}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>







    <section class="portside">
        <div class="container">
            <br>
            <br>
            <h2>Portside Iron Ore Transaction Report | Feb 17th 2023</h2>
            <br>
            <div class="row2-col2  _60per">
                <div>
                    <table>
                        <thead>
                            <tr>

                                <th>No</th>
                                <th>PORT</th>
                                <th> Product</th>
                                <th>T/P</th>
                                <th>T/P on 16th</th>
                                <th>Contents</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in port_side_iron %}
                            <tr>
                                <td>{{item.no}}</td>
                                <td>{{item.port}}</td>
                                <td>{{item.product}}</td>
                                <td>{{item.t_p}}</td>
                                <td>{{item.t_p_on_16th}}</td>
                                <td>{{item.contents}}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row2-col2 g100">
                <div>
                    {% if port_side_iron_text_card1 %}
                    <div class="blue-card">
                        {% for item in port_side_iron_text_card1 %}
                        <p>
                            {{item.text}}
                            <br>
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% if port_side_iron_text_card2 %}
                    <div class="blue-card">
                        {% for item in port_side_iron_text_card2 %}
                        <p>
                            {{item.text}}
                            <br>
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('downloadPdf').addEventListener('click', function () {
            // Target your HTML content
            const element = document.body;

            // Use html2pdf library to generate PDF
            html2pdf(element);
        });
    </script>
</body>

</html>