<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | MCS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>



    <nav>
        <div class="container">
            <div class="nav-links">
                <a href="" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </a>
                <div class="links">
                    <a href="" class="active">Home</a>
                    <a href="">Pricing</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>


    <section class="header">
        <div class="container">
            <h1>Insights and Trends in Iron Ore Trading</h1>
        </div>

    </section>
    <section class="market-value">
        <div class="container">
            <h2>Market Overview</h2>
            <div class="row2-col2 g100">
                <div>
                    <ul>Forward Physical Values</ul>
                    <table>
                        <thead>
                            <tr>
                                <th>PROD</th>
                                <th>Mar</th>
                                <th>Apr</th>
                                <th>May</th>
                                <th>Q3</th>
                            </tr>
                        </thead>
                        <tbody class="col-1-fill">
                            <tr>
                                <td>PBF</td>
                                <td>$0.55</td>
                                <td>$0.85</td>
                                <td>$0.80</td>
                                <td>$0.65</td>
                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$0.55</td>
                                <td>$0.85</td>
                                <td>$0.80</td>
                                <td>$0.65</td>

                            </tr>
                            <tr>
                                <td>PBL</td>
                                <td>$0.55</td>
                                <td>$0.85</td>
                                <td>$0.80</td>
                                <td>$0.65</td>

                            </tr>
                            <tr>
                                <td>NBL</td>
                                <td>$0.55</td>
                                <td>$0.85</td>
                                <td>$0.80</td>
                                <td>$0.65</td>
                            </tr>
                        </tbody>
                        </tr>
                    </table>

                    <div class="blue-card">
                        <p> Previous days Seaborne Deals in the Market: Primary: 193,457kt IOC6, 7th Feb BL, Mar -$2.25
                            Secondary: <br>
                            170kt PBF, mid Mar, Mar +$0.40 190kt IOC6, Feb Arr, Sold
                            <br>
                            <br>
                            80kt NBL, 3.6-15, Mar 0.1150 <br>
                            Parcel PBF, Feb/Mar, Mar +$0.20 65kt Karara, early Feb, Withdrawn<br><br>

                            80kt NBL, mid Feb, Landing 200kt Jingbao F, 1H Feb, Mar -$8.20
                            <br>
                        </p>
                    </div>
                </div>
                <div>
                    <ul>Seaborne Last Traded levels</ul>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Primary</th>
                                <th>Secondary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PBF</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>

                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>
                            </tr>
                            <tr>
                                <td>PBF</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>

                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>
                            </tr>
                            <tr>
                                <td>PBF</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>

                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>
                            </tr>
                            <tr>
                                <td>PBF</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>

                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>
                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>
                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$126.00 (+$2.25)</td>
                                <td>$124.00 (-$0.45)</td>
                            </tr>
                        </tbody>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </section>

    <section class="physical-onshore">
        <div class="container">
            <h2>Front Month Physical vs Spot Onshore Values</h2>
            <table>
                <thead>
                    <tr>
                        <th>Prem/Disc</th>
                        <th>Product</th>
                        <th>Phys in RMB</th>
                        <th>RZ Value</th>
                        <th>Diff</th>
                        <th>Diff USD</th>
                        <th>CFD Value</th>
                        <th>Diff</th>
                        <th>Diff USD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                    <tr>
                        <td>$0.55</td>
                        <td>PBF</td>
                        <td>¥921.06</td>
                        <td>¥895.00</td>
                        <td>¥26.06</td>
                        <td>$3.79</td>
                        <td>¥909.00</td>
                        <td>¥12.06</td>
                        <td>$1.76</td>
                    </tr>
                </tbody>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row2-col2 g50 ">
                <div>
                    <table class="no-bg">
                        <thead>
                            <tr>
                                <th>Proxy Blend</th>
                                <th>IOCJ+SSF vs PBF</th>
                                <th>RZ</th>
                                <th>CFD</th>
                                <th>JYN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>¥888.50</td>
                                <td>¥895.00</td>
                                <td>¥918.00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>RMB Diff</td>
                                <td>-¥6.50</td>
                                <td>-¥14.00</td>
                                <td>-¥13.00</td>

                            </tr>
                            <tr>
                                <td><span>Portside <br> Spreads</span></td>
                                <td>RMB Diff</td>
                                <td>-¥6.50</td>
                                <td>-¥14.00</td>
                                <td>-¥13.00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>RMB Diff</td>
                                <td>-¥6.50</td>
                                <td>-¥14.00</td>
                                <td>-¥13.00</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>RMB Diff</td>
                                <td>-¥6.50</td>
                                <td>-¥14.00</td>
                                <td>-¥13.00</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>RMB Diff</td>
                                <td>-¥6.50</td>
                                <td>-¥14.00</td>
                                <td>-¥13.00</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>RMB Diff</td>
                                <td>-¥6.50</td>
                                <td>-¥14.00</td>
                                <td>-¥13.00</td>

                            </tr>
                        </tbody>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Other Product Values</th>
                                <th>Period: Mar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Indian Fines 57%</td>
                                <td>-21.50%</td>

                            </tr>
                            <tr>
                                <td>Indian Pellet 63%</td>
                                <td>$8.00</td>

                            </tr>
                            <tr>
                                <td>IOC6</td>
                                <td>-$2.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>Primary vs Secondary Differential</th>
                                <th>Apr</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PBF</td>
                                <td>$1.40</td>

                            </tr>
                            <tr>
                                <td>IOCJ</td>
                                <td>$0.00</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


</body>

</html>